<footer class="text-center">
  <p><a routerLink="/forum">Contact Us</a></p>
  <p>OpenStudio<sup>®</sup> is developed in collaboration by NREL, ANL, LBNL, ORNL, and PNNL. <br></p>
  <p>OpenStudio<sup>®</sup> is a registered trademark of the Alliance for Sustainable Energy, LLC.</p>
  <p><a href="https://www.nrel.gov/">NREL</a> is a National Laboratory of the U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, operated by the Alliance for Sustainable Energy, LLC.</p>
</footer>
