<footer class="text-center">
  <p><a routerLink="/forum">Contact Us</a></p>
  <p>OpenStudio<sup>®</sup> is developed in collaboration by NLR, ANL, LBNL, ORNL, and PNNL. <br></p>
  <p>OpenStudio<sup>®</sup> is a registered trademark of the Alliance for Sustainable Energy, LLC. <a href="/license">View License</a></p>
  <p><a href="https://www.nrel.gov/">The National Laboratory of the Rockies</a> is a national laboratory of the U.S. Department of Energy, Office of Critical Minerals and Energy Innovation.</p>
</footer>
