<h1 class="page-header" style="font-size:2rem;">Forum</h1>
<div>
  <p>The OpenStudio forum has been retired and OpenStudio user support has been moved to the
    <a href="https://unmethours.com/questions/scope:all/sort:activity-desc/tags:openstudio/">Unmet Hours</a> website.
    This change will enable OpenStudio support to take advantage of the larger community of modelers on Unmet Hours,
    provide better search and notification capabilities, and quickly find the right answer with the community voting mechanism.
    Please post your OpenStudio questions to the Unmet Hours website and tag them with the <em>OpenStudio</em> tag.
    While you are there, feel free to earn some instant karma by answering or voting for any questions that your fellow modelers might be asking.</p>
  <div>
    <a class="btn btn-primary btn-lg btn-bg-dark" href="https://unmethours.com/questions/scope:all/sort:activity-desc/tags:openstudio/" role="button">Unmet Hours Forum</a>
  </div>
</div>
