<div class="card card-body bg-light">
  <h2 class="card-title my-2">{{ release.title }}</h2>
  <div class="row" *ngIf="release.type === 'developer-sdk'">
    <div class="col-9">
      <h3 class="card-subtitle mb-2 text-muted">This is the latest stable software version.</h3>
    </div>
    <div class="col-3">
      <h3 class="card-subtitle mb-2 text-muted">Latest Development Package Version</h3>
    </div>
  </div>
  <div class="row" *ngIf="release.type !== 'developer-sdk'">
    <h3 class="col-9 card-subtitle mb-3 text-muted"><span>Select your platform to start the download</span></h3>
    <h3 class="col-3 card-subtitle mb-2 text-muted">Current version</h3>
  </div>
  <div class="row">
    <div class="col-9">
      <a class="btn btn-primary btn-lg btn-bg-dark mr-1 ml-lg-5 mb-1" [href]="release.winUrl" (click)="trackDownload(release.type, 'windows', release.winUrl)" role="button">Windows (x64)</a>
      <a class="btn btn-primary btn-lg btn-bg-dark mx-1 mb-1" [href]="release.macUrl" (click)="trackDownload(release.type, 'mac', release.macUrl)" role="button">Mac</a>
      <a *ngIf="release.macArmUrl" class="btn btn-primary btn-lg btn-bg-dark mx-1 mb-1" [href]="release.macArmUrl" (click)="trackDownload(release.type, 'mac', release.macArmUrl)" role="button">Mac (ARM64)</a>
      <a class="btn btn-primary btn-lg btn-bg-dark ml-1 mb-1" [href]="release.linuxUrl" (click)="trackDownload(release.type, 'linux', release.linuxUrl)" role="button">Linux</a>
    </div>
    <div class="col-3">
      <h2 class="version-badge"><span class="badge badge-info btn-bg-light">{{ release.version }}</span></h2>
    </div>
  </div>
</div>
